@model TeaShop.WebUI.DTOs.AboutDTOs.ResultAboutDTO

<div class="col-lg-3 col-sm-6">
    <h2 class="useful_text">@Model.AboutTitle</h2>
    <p class="ipsum_text">
        @Model.AboutDescription
    </p>
</div>