@model List<TeaShop.WebUI.DTOs.DrinkDTOs.ResultDrinkDTO>

@{
    var active = "";
    int count = 1;
}

<div class="services_section layout_padding">
    <div class="container">
        <h1 class="services_taital">içecek Çeşitlerimiz</h1>
        <p class="services_text">Uzun yılların tecrübesiyle size hizmet etmeye devam ediyoruz. </p>
        <div class="services_section_2 layout_padding">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (count == 1)
                    {
                        active = "active";
                        count++;
                    }
                    else
                    {
                        active = "";
                    }

                    <div class="col-md-6 @active">
                        <div class="box_main">
                            <div class="left_main">
                                <div class="cup_img_1"><img src="~/images/@item.DrinkImageURL"></div>
                            </div>
                            <div class="middle_main">
                                <div class="border_10 active"></div>
                            </div>
                            <div class="right_main">
                                <h6 class="milk_text">@item.DrinkName</h6>
                                <h1 class="price_text">@item.DrinkPrice ₺</h1>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="see_bt"><a href="#">Tüm İçecekleri Gör</a></div>
    </div>
</div>