@model UpdateShopDTO

@{
    ViewData["Title"] = "UpdateShop";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<h1>Sepet Güncelleme</h1>
<br />
<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="ShopID" />
    <label>Başlık</label>
    <input type="text" asp-for="ShopTitle" class="form-control" id="floatingInput" placeholder="Başlık" required />
    <br />
    <label>Açıklama</label>
    <textarea asp-for="ShopDescription" rows="3" class="form-control"></textarea>
    <br />
    <label>Sepet Görseli</label>
    <br />
    <img src="~/images/@Model.ShopImageURL" width="90" />
    <br />
    <br />
    <input type="file" name="image" />
    <br />
    <br />
    <input id="IsHome" asp-for="IsHome" type="checkbox" />
    <label for="IsHome">Ana Sayfa</label>
    <br />
    <br />
    <input id="ShopStatus" asp-for="ShopStatus" type="checkbox" />
    <label for="ShopStatus">Durum</label>
    <br />
    <br />
    <button class="btn btn-success"><i class="fas fa-pen"></i> Sepet Güncelle</button>
</form>