@model CreateMapDTO

@{
    ViewData["Title"] = "CreateMap";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<h1>Yeni Lokasyon Girişi</h1>
<br />
<form method="post">
    <label>Lokasyon URL</label>
    <input type="text" asp-for="LocationURL" class="form-control" id="floatingInput" placeholder="Lokasyan URL..." required />
    <br />
    <input id="MapStatus" asp-for="MapStatus" type="checkbox" />
    <label for="MapStatus">Durum</label>
    <br />
    <br />
    <button class="btn btn-primary"><i class="fas fa-save"></i> Lokasyon Ekle</button>
</form>