@model TeaShop.WebUI.DTOs.SubscribeDTOs.CreateSubscribeDTO

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="newsletter_section">
    <div class="newsletter_left">
        <div class="footer_logo"><img src="~/teab-1.0.0/images/footer-logo.png"></div>
    </div>
    <div class="newsletter_right">
        <h5 class="newsletter_taital">Son Gelişmelerden Haberdar Olun!</h5>
        <div class="subscribe_main">
            <form action="/Default/_SubscribePartial/" method="post">
                <input type="email" class="mail_text" placeholder="Enter your email" asp-for="Mail">
                <button type="submit" class="btn btn-style btn-primary w3-submit text-right" onclick="subscribe()">Gönder <i class="fas fa-paper-plane ms-2"></i></button>
            </form>
        </div>
    </div>
</div>

<script>
    function subscribe() {
        Swal.fire({
            title: 'E-Bülten için mail adresiniz sisteme kaydedildi.',
            icon: 'success',
            showCancelButton: false,
            confirmButtonText: 'Tamam'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Default/Index";
            }
        });
    }
</script>