@model TeaShop.WebUI.DTOs.SubscribeDTOs.CreateSubscribeDTO

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="newsletter_section">
    <div class="newsletter_left">
        <div class="footer_logo"><img src="~/teab-1.0.0/images/footer-logo.png"></div>
    </div>
    <form asp-controller="Default" asp-action="_SubscribePartial" method="post">
        <div class="newsletter_right">
            <h5 class="newsletter_taital">Bültenimize Abone Olun</h5>
            <div class="subscribe_main">
                <input type="text" class="mail_text" placeholder="Email Adresinizi Yazın" name="Email">
                <button class="btn btn-outline-warning" onclick="subscribe()">Abone Ol</button>
            </div>
        </div>
    </form>
</div>

<script>
    function subscribe() {
        Swal.fire({
            title: 'E-Bülten için mail adresiniz sisteme kaydedildi.',
            icon: 'success',
            showCancelButton: false,
            confirmButtonText: 'Tamam'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Default/Index";
            }
        });
    }
</script>