
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

< <!-- banner section end -->
@await Component.InvokeAsync("_DefaultBannerListComponentPartial")
<!-- banner section end -->
    </div>
<!-- header section end -->
<!-- about section start -->
@await Component.InvokeAsync("_DefaultAboutListComponenetPartial")
<!-- about section end -->
<!-- booking section start -->
@await Component.InvokeAsync("_DefaultBookingComponentPartial")
<!-- booking section end -->
<!-- services section start -->
@await Component.InvokeAsync("_DefaultDrinkListComponentPartial")
<!-- services section end -->
<!-- choose section start -->
@await Component.InvokeAsync("_DefaultChooseComponentPartial")
<!-- choose section end -->
<!-- shop section start -->
@await Component.InvokeAsync("_DefaultShopListComponentPartial")
<!-- shop section end -->
<!-- frequently section start -->
@await Component.InvokeAsync("_DefaultFrequentlyQuestionListComponentPartial")
<!-- frequently section end -->
<!-- clients section start -->
@await Component.InvokeAsync("_DefaultTestimonialListComponentPartial") 
<!-- clients section end -->
<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            @await Html.PartialAsync("~/Views/Default/SendMessage.cshtml")          
           
            @await Component.InvokeAsync("_DefaultMapComponentPartial")
        </div>
    </div>
</div>
<!-- contact section end -->
<!-- footer section start -->