
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

< <!-- banner section end -->
@await Component.InvokeAsync("_DefaultBannerListComponentPartial")
<!-- banner section end -->
    </div>
<!-- header section end -->
<!-- about section start -->
@await Component.InvokeAsync("_DefaultAboutListComponenetPartial")
<!-- about section end -->
<!-- booking section start -->
@await Component.InvokeAsync("_DefaultBookingComponentPartial")
<!-- booking section end -->
<!-- services section start -->
@await Component.InvokeAsync("_DefaultDrinkListComponentPartial")
<!-- services section end -->
<!-- choose section start -->
<div class="choose_section">
    <div class="container">
        <h1 class="choose_taital">Why Choose Us</h1>
        <p class="choose_text">
            It is a long established fact that a reader will beIt is a long established fact that a
            reader will be
        </p>
        <div class="choose_section_2">
            <div class="choose_left">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/teab-1.0.0/images/icon-1.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">99%<br><span class="satisfied_text_1">SATISFIED Customer</span></h1>
                </div>
            </div>
            <div class="choose_middle">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/teab-1.0.0/images/icon-2.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">40+<br><span class="satisfied_text_1">AWESOME TEA</span></h1>
                </div>
            </div>
            <div class="choose_middle_1">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/teab-1.0.0/images/icon-3.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">4500+<br><span class="satisfied_text_1">Customer</span></h1>
                </div>
            </div>
            <div class="choose_right">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/teab-1.0.0/images/icon-4.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">190+<br><span class="satisfied_text_1">DAILY VISITORS</span></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- choose section end -->
<!-- shop section start -->
<div class="shop_section layout_padding">
    <div id="my_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="shop_taital">Our Tea Shop</h1>
                    <p class="shop_text">
                        It is a long established fact that a reader will beIt is a long established fact
                        that a reader will be
                    </p>
                    <div><img src="~/teab-1.0.0/images/img-3.png" class="image_3"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="shop_taital">Our Tea Shop</h1>
                    <p class="shop_text">
                        It is a long established fact that a reader will beIt is a long established fact
                        that a reader will be
                    </p>
                    <div><img src="~/teab-1.0.0/images/img-3.png" class="image_3"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="shop_taital">Our Tea Shop</h1>
                    <p class="shop_text">
                        It is a long established fact that a reader will beIt is a long established fact
                        that a reader will be
                    </p>
                    <div><img src="~/teab-1.0.0/images/img-3.png" class="image_3"></div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-arrow-left"></i>
        </a>
        <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-arrow-right" style="text-align: left;"></i>
        </a>
    </div>
</div>
<!-- shop section end -->
<!-- frequently section start -->
@await Component.InvokeAsync("_DefaultFrequentlyQuestionListComponentPartial")
<!-- frequently section end -->
<!-- clients section start -->
@await Component.InvokeAsync("_DefaultTestimonialListComponentPartial") 
<!-- clients section end -->
<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            @await Html.PartialAsync("~/Views/Default/SendMessage.cshtml")
            
           
            @await Component.InvokeAsync("_DefaultMapComponentPartial")
        </div>
    </div>
</div>
<!-- contact section end -->
<!-- footer section start -->