@model CreateQuestionDTO

@{
    ViewData["Title"] = "CreateQuestion";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<h1>Yeni Soru-Cevap Girişi</h1>
<br />
<form method="post">
    <label>Soru Yazınız</label>
    <input type="text" asp-for="QuestionDetail" class="form-control" id="floatingInput" placeholder="Soru" required />
    <br />
    <label>Cevap Yazınız</label>
    <input type="text" asp-for="AnswerDetail" class="form-control" id="floatingInput" placeholder="Cevap" required />
    <br />
    <input id="IsHome" asp-for="IsHome" type="checkbox" />
    <label for="IsHome">Ana Sayfa</label>
    <br />
    <br />
    <input id="QuestionStatus" asp-for="QuestionStatus" type="checkbox" />
    <label for="QuestionStatus">Durum</label>
    <br />
    <br />
    <button class="btn btn-primary"><i class="fas fa-save"></i> Soru-Cevap Ekle</button>
</form>