@model CreateContactDTO

@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<h1>Yeni İletişim Bilgisi Girişi</h1>
<br />
<form method="post">
    <label>Adres</label>
    <textarea asp-for="Address" rows="5" class="form-control" placeholder="Adres..." required></textarea>
    <br />
    <label>Telefon</label>
    <input type="text" asp-for="Phone" class="form-control" id="floatingInput" placeholder="Telefon Numarası..." required />
    <br />
    <label>Mail</label>
    <input type="email" asp-for="Email" class="form-control" id="floatingInput" placeholder="Mail Adresi..." required />
    <br />
    <input id="QuestionStatus" asp-for="ContactStatus" type="checkbox" />
    <label for="QuestionStatus">Durum</label>
    <br />
    <br />
    <button class="btn btn-primary"><i class="fas fa-save"></i> İletişim Bilgisi Ekle</button>
</form>